html
body {
    height: 100%;
    font-size:16px;
    font-family: Comic Sans MS;
     background-image: url('travel.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;

}

.body-content {
    font-size:20px;

}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
  /*  background-color: rgb(177, 198, 255);*/
    color: rgb(10, 0, 66);

}


.wrap > .container {
    padding: 70px 15px 20px;
}
.contact {
    font-size: 20px;
    text-align: center;
}

.cborder{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 25px;

}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.bd {
    margin-top: 40px;
    background-color: #ebebeb;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);

}

.popular{
    text-align: center;
    background-color: lightgrey;
    width: 330px;
    border-style: ridge;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
}

.topic{
    border-bottom: 1px solid;
}

.bb{
    list-style-type : none;
}

.category
{
    border-radius: 20%;
    width: 60%;
    height: 60%;
}

.phc{
    margin-left: 10%;
}